*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 200px;
    height: 200px;
    background-color: #3ed74d;
}

.box:hover{
    transform: perspective(100px) translateZ(40px)
}