h1{
    color: yellow;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-style: italic;

    margin:10px;


    text-align: center;
    text-decoration:underline wavy 3px rgb(188, 255, 146);
    /* text-decoration-color: black; */

    text-transform:lowercase;
    /* text-shadow: {x-axis  y-axis  blur}  [(-) value for up indication and
     (+) value for low indication]*/
    text-shadow: 3px 3px 3px rgb(255, 115, 115);   
}

.name:hover{
    background-color: rgb(0, 154, 10);
    text-shadow: none;
    text-transform: uppercase;
    text-decoration: underline white;
    transition: 0.5s;
}


.dummyText{
    color: red;
    background-color: rgb(38, 219, 255);
    transition: 0.5s;

}

.dummyText:hover{
    background-color: black;
    color: white;
    transition: 0.5s;

}

.wrapper{
    border: 3px solid black;
    background-color: silver;
    /* border-radius: 10px; */
    border-radius: 30px 0px 30px 0px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-color: red;

}

p{
    margin: 10px;
}